@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSansLight/OpenSansLight.eot');
	src: url('../fonts/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
		 url('../fonts/OpenSansLight/OpenSansLight.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'Nexa Light';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Light'), url('Nexa Light.woff') format('woff');
}
@font-face {
	font-family: 'Felt Tip Woman';
	src: url('../fonts/Felt Tip Woman/felt-tip-woman.eot');
	src: url('../fonts/Felt Tip Woman/felt-tip-woman.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Felt Tip Woman/felt-tip-woman.woff') format('woff'),
		 url('../fonts/Felt Tip Woman/felt-tip-woman.ttf') format('truetype');
	font-weight: normal;
}