li{
     font-size: 24px;
     font-family: "Nexa Light","Arial Black", sans-serif;
     margin-top: 41px;
     display: inline-block;
     vertical-align: inherit;
     padding-left: 10px;
     margin-top: 25px;
}
.menu{
	padding-left: 650px;
}